@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

html, body {
    margin: auto;
    padding: 0;
    width: 100%;
    background-color: #333333; 
    display: flex;
    font-family: 'Joti One', serif;
    justify-content: center;
}

#root {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%; 
    max-width: 1200px;
    padding: 20px;
    font-family: 'Joti One', serif;
    box-sizing: border-box;
    margin: 0, auto;
}

.header-img, .header-banner-nav, .header-banner, 
.description-banner, .content-row div, .footer
{
    width: 100%;
    border: 3px solid #1a1a1a;
    border-radius: 20px;
    box-sizing: border-box; 
}

.header-banner{
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: block;
    font-size: 2rem;
}

.header-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    border: 3px solid #1a1a1a;
    border-radius: 20px;
}

.header-banner-nav {
    background-color: #4a773c;
    width: 100%;
    max-width: 900px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    height: 80px;
    margin: 0px,-5px;
    display: block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
    max-width: 900px;
    padding: 0%;
}

.content-row {
    display: flex;
    height: 250px;
    max-width: 100%; 
    gap: 20px;        
}

.content-row.reverse { 
    flex-direction: row-reverse; 
    display: flex;
    height: 250px;
    max-width: 100%; 
    gap: 20px;        
}

.image-placeholder, .text-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    border: 3px solid #1a1a1a;
    flex: 1;
    border-radius: 20px;
}

.image-placeholder {
    flex: 1;
    background-color: #d1d1d1;
    color: #333;
}

.text-placeholder {
    flex: 2;
    background-color: #4a773c;
}

.header-banner, .description-banner {
    background-color: #4a773c;
    color: white;
    text-align: center;
}

.description-banner {
    padding: 30px 20px;
    font-size: 1.8rem;
    font-style: italic;
    width: 100%;
}
.footer{
    background-color: #4a773c;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}